SERVER_ID=server-01
RUN_MODE=server
PORT=9999
HOST=0.0.0.0
TRANSPORTER=redis://127.0.0.1:6379
CONFIG_TYPE=LOCAL
CONFIG_FILE=./config.json
TEMP_CONFIG_TYPE=REMOTE
TEMP_CONFIG_FILE=http://localhost:53321/config.json